<h3 style="color: red">ngContent</h3>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <app-ng-content-item-card>
                <span class="tenSP">Iphone X</span>
                <span class="moTa">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla nam i</span>
                <span class="giaSP">1000</span>
            </app-ng-content-item-card>
        </div>
        <div class="col-sm-4">
            <app-ng-content-item-card class="tenSP">
                <span class="tenSP">SamSung</span>
                <span class="moTa">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla nam i</span>
                <span class="giaSP">2000</span>
            </app-ng-content-item-card>
        </div>
        <div class="col-sm-4">
            <app-ng-content-item-card class="tenSP">
                <span class="tenSP">Xiaomi</span>
                <span class="moTa">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla nam i</span>
                <span class="giaSP">3000</span>
            </app-ng-content-item-card>
        </div>
    </div>
</div>