<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bài tập StructuralDirective-Cybersoft</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>

<body>

    <div class="container p-2 m-5">
        <h1 class="bg-secondary text-white">Quản lý danh mục sản phẩm</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="MaSP" #maSP />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="TenSP" #tenSP />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Gia" #giaSP />
                </div>
            </div>
            <div class="col-md">
                <button class="btn btn-success" (click)=(themSanPham(maSP.value,tenSP.value,giaSP.value))>
                    Thêm sản phẩm

                </button>
            </div>

        </div>
    </div>
    <div class="container p-2 mx-5">
        <h1 class=" bg-secondary text-white">Danh mục sản phẩm</h1>
        <table class="table ">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Mã sản phẩm</th>
                    <th>Tên sản phẩm</th>
                    <th>Gía</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of danhSachSanPham |paginate: { itemsPerPage: 10, currentPage: p }  ;let stt=index "
                    [ngClass]="{bgcolor: stt%2 ==0}">
                    <th scope="row">{{stt+1}}</th>
                    <td>{{item.MaSP}}</td>
                    <td>{{item.TenSP}}</td>
                    <td>{{item.Gia}}</td>
                    <td>
                        <button class="btn btn-danger" (click)=" xoaSanPham(sanpham)">Xoá</button>
                    </td>
                </tr>
                <pagination-controls (pageChange)="p = $event">
                </pagination-controls>
            </tbody>

        </table>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>